﻿@page "/libros"
@inject ILibrary<Libro> _Services
@inject IUserService userService
@inject ILocalStorageService localStorageService
@inject IJSRuntime JSRuntime


<div class="col-12">
    <h3><b>Libro Informacion</b></h3>
    <hr />


    <EditForm Model="@libro" OnValidSubmit="@GuardarLibro">
        @*<DataAnnotationsValidator />*@

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">ISBN :</label>
            <input class="form-control col-3" @bind="libro.ISBN" placeholder="ISBN" />
            &nbsp;<ValidationMessage For="@(() => libro.ISBN)" />
        </div>
        <br />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">AutorId :</label>
            <input class="form-control col-3" @bind="libro.AutorId" placeholder="AutorId" />
            &nbsp;<ValidationMessage For="@(() => libro.AutorId)" />
        </div>
        <br />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Estado :</label>
            <input class="form-control col-3" @bind="libro.Estado" placeholder="Estado" />
            &nbsp;<ValidationMessage For="@(() => libro.Estado)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">EstadoEstetico :</label>
            <input class="form-control col-3" @bind="libro.EstadoEstetico" placeholder="EstadoEstetico" />
            &nbsp;<ValidationMessage For="@(() => libro.EstadoEstetico)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Notes :</label>
            <input class="form-control col-3" @bind="libro.Notes" placeholder="Notes" />
            &nbsp;<ValidationMessage For="@(() => libro.Notes)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">PubId :</label>
            <input class="form-control col-3" @bind="libro.PubId" placeholder="PubId" />
            &nbsp;<ValidationMessage For="@(() => libro.PubId)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">PublishedDate :</label>
            <input class="form-control col-3" @bind="libro.PublishedDate" placeholder="PublishedDate" />
            &nbsp;<ValidationMessage For="@(() => libro.PublishedDate)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Title :</label>
            <input class="form-control col-3" @bind="libro.Title" placeholder="Title" />
            &nbsp;<ValidationMessage For="@(() => libro.Title)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Type :</label>
            <input class="form-control col-3" @bind="libro.Type" placeholder="Type" />
            &nbsp;<ValidationMessage For="@(() => libro.Type)" />
        </div>
        <br />

        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
        </div>
    </EditForm>
</div>
<br />

<div class="col-12">

    <h3><b>Libros</b></h3>
    <SpinLoader IsLoading="isLoading">
        <LoadingTemplate>
            <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
                <br /><br />
                <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            @if (filteredLibroList != null)
            {
<GridView Items="filteredLibroList" ReloadList="IsGridViewFiltered">
    <GridColumns>
        <GridColumn ColumnTitle="Id" />
        <GridColumn ColumnTitle="AutorId" />
        <GridColumn ColumnTitle="Estado" />
        <GridColumn ColumnTitle="EstadoEstetico" />
        <GridColumn ColumnTitle="ISBN" />
        <GridColumn ColumnTitle="Notes" />
        <GridColumn ColumnTitle="PubId" />
        <GridColumn ColumnTitle="PublishedDate" />
        <GridColumn ColumnTitle="Title" />
        <GridColumn ColumnTitle="Type" />
        <AuthorizeView>
            <Authorized>
                <GridColumn ColumnTitle="Actions" />
            </Authorized>
        </AuthorizeView>
    </GridColumns>
    <GridRow Context="libro">
        <td>
            <NavLink href=@string.Format("/Libros/{0}", libro.Id)>
                @libro.Id
            </NavLink>
        </td>
        <td>@libro.Id</td>
        <td>@libro.AutorId</td>
        <td>@libro.Estado</td>
        <td>@libro.EstadoEstetico</td>
        <td>@libro.ISBN</td>
        <td>@libro.Notes</td>
        <td>@libro.PubId</td>
        <td>@libro.PublishedDate</td>
        <td>@libro.Title</td>
        <td>@libro.Type</td>

        <AuthorizeView>
            <Authorized>
                <th>
                    <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => EditLibro(libro))">Edit</a> |
                    <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => DeleteLibro(libro.Id))">Delete</a>
                </th>
            </Authorized>
        </AuthorizeView>
    </GridRow>
</GridView>}
        </ContentTemplate>
    </SpinLoader>
</div>

@code {
    public Libro libro { get; set; }
    public List<Libro> LibrosList { get; set; }
    public List<Libro> filteredLibroList { get; set; }

    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }
    public bool IsGridViewFiltered { get; set; }
    bool isLoading = true;
    public bool ReloadList { get; set; }
    ElementReference LibrosNameTextBox;

    ElementReference firstNameTextBox;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Libros - OnInitializedAsync");

        libro = new Libro();
        LibrosList = new List<Libro>();
        //authorList = await authorService.GetAuthors();

        await base.OnInitializedAsync();
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Authors - OnAfterRenderAsync - firstRender = " + firstRender);

        if (firstRender)
        {
            await LoadLibros();

            isLoading = false;
            this.StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    private async Task LoadLibros()
    {
        await Task.Delay(700);

        LibrosList = filteredLibroList = await _Services. GetAllAsync("Libros");

        this.StateHasChanged();
    }

    private async Task GuardarLibro()
    {


        if (libro.Id == 0)
            await _Services.SaveAsync("Libros", libro);
        else
            await _Services.UpdateAsync("Libros/", libro.Id, libro);

        await LoadLibros();

        Result = true;
        IsVisible = true;

        var title = libro.Title;
        var isbn = libro.ISBN;

        RecordName = title + " " + isbn;

        libro = new Libro();
        this.StateHasChanged();

    }

    private async Task DeleteLibro(int id)
    {
        await _Services.DeleteAsync("Libros/", id);
        await LoadLibros();

        //throw new Exception("DeleteAuthor");
    }

    private void EditLibro(Libro arg)
    {
        libro = arg;
    }




}
