﻿@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<nav class="navbar navbar-expand-sm bg-light">
    <a href="/" class="navbar-brand">Library</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar2" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <AuthorizeView>
        <Authorized>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="prestamos">
                        <span class="oi oi-bell" aria-hidden="true"></span> Autorizar Prestamos
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="libros">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Libros
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="autores" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> Autores
                    </NavLink>
                </li>
            </ul>
            <a class="btn btn-primary" href="/" @onclick="(() => Logout())">Cerrar Sesion</a>
        </Authorized>
        <NotAuthorized>

            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="prestamos">
                        <span class="oi oi-book" aria-hidden="true"></span> Prestamos
                    </NavLink>
                </li>
            </ul>
            <a class="btn btn-primary" href="/login">Login</a>
        </NotAuthorized>
    </AuthorizeView>

</nav>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public async Task Logout()
    {
        await ((CustomAutenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();

        NavigationManager.NavigateTo("/");
        this.StateHasChanged();
    }
}

