﻿@typeparam TItem

<div class="col-12 row">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
            <thead class="bg-info">
                <tr>
                    @TableHeader
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
    <tr>
        @RowTemplate(item)
    </tr>}
            </tbody>
        </table>
    </div>
</div>


@code { [Parameter]
            public RenderFragment TableHeader { get; set; }

            [Parameter]
            public RenderFragment<TItem> RowTemplate { get; set; }

            [Parameter]
            public List<TItem> Items { get; set; } }
