﻿@page "/"
@using FrontEnd_DiegoPabon.Models
@using Blazored.LocalStorage
@using System.Security.Claims
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorageService
@inject IAuthorizationService authorizationService


<AuthorizeView>
    <Authorized>
        <h3><b>@user.Identity.Name</b> Hola!!!</h3>
    </Authorized>
    <NotAuthorized>
        <h3><b>Bienvenido a nuestra Libreria</b></h3>
    </NotAuthorized>
</AuthorizeView>




@code { [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
       
        user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
            IsUserAuthenticated = true;

    } }
