﻿@page "/prestamos"
@inject ILibrary<M_PeticionPrestamo> _Services
@inject ILibrary<Libro> _ServicioLibros
@inject IUserService userService
@inject ILocalStorageService localStorageService
@inject IJSRuntime JSRuntime


        <div class="col-12">
            <h3><b>Prestamos Registro</b></h3>
            <hr />


            <EditForm Model="@prestamosModel" OnValidSubmit="@GuardarPrestamo">
                @*<DataAnnotationsValidator />*@

                <div class="col-12 row">
                    <label class="col-2 font-weight-bold">IdLibro :</label>
                    <input class="form-control col-3" @bind="prestamosModel.IdLibro" placeholder="IdLibro" />
                    &nbsp;<ValidationMessage For="@(() => prestamosModel.IdLibro)" />
                </div>
                <br />

                <div class="col-12 row">
                    <label class="col-2 font-weight-bold">NombreEstudiante :</label>
                    <input class="form-control col-3" @bind="prestamosModel.NombreEstudiante" placeholder="NombreEstudiante" />
                    &nbsp;<ValidationMessage For="@(() => prestamosModel.NombreEstudiante)" />
                </div>
                <br />

                <div class="col-12 row">
                    <label class="col-2 font-weight-bold">CodigoEstudiante :</label>
                    <input class="form-control col-3" @bind="prestamosModel.CodigoEstudiante" placeholder="CodigoEstudiante" />
                    &nbsp;<ValidationMessage For="@(() => prestamosModel.CodigoEstudiante)" />
                </div>
                <br />

                <div class="col-12 row">
                    <span class="col-2"></span>
                    <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
                    <span>&nbsp;</span>
                    <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
                </div>
            </EditForm>
        </div>
        <br />



<AuthorizeView>

    <Authorized>
        <div class="col-12">

            <h3><b>Solicitudes</b></h3>
            <SpinLoader IsLoading="isLoading">
                <LoadingTemplate>
                    <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
                        <br /><br />
                        <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
                    </div>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (prestamosModelListFiltered != null)
                    {
                        <GridView Items="prestamosModelListFiltered" ReloadList="IsGridViewFiltered">
                            <GridColumns>
                                <GridColumn ColumnTitle="Id" />
                                <GridColumn ColumnTitle="AutorId" />
                                <GridColumn ColumnTitle="Estado" />
                                <GridColumn ColumnTitle="EstadoEstetico" />
                                <GridColumn ColumnTitle="ISBN" />
                                <GridColumn ColumnTitle="Notes" />
                                <GridColumn ColumnTitle="PubId" />
                                <GridColumn ColumnTitle="PublishedDate" />
                                <GridColumn ColumnTitle="Title" />
                                <GridColumn ColumnTitle="Type" />
                            </GridColumns>
                            <GridRow Context="libro">

                                <td>@libro.Id</td>
                                <td>@libro.AutorId</td>
                                <td>@libro.Estado</td>
                                <td>@libro.EstadoEstetico</td>
                                <td>@libro.ISBN</td>
                                <td>@libro.Notes</td>
                                <td>@libro.PubId</td>
                                <td>@libro.PublishedDate</td>
                                <td>@libro.Title</td>
                                <td>@libro.Type</td>
                            </GridRow>
                        </GridView>}
                </ContentTemplate>
            </SpinLoader>
        </div>

    </Authorized>

</AuthorizeView>



@code {
    public M_PeticionPrestamo prestamosModel { get; set; }
    public List<Libro> prestamosModelList { get; set; }
    public List<Libro> prestamosModelListFiltered { get; set; }
    public Libro libro { get; set; }

    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }
    public bool IsGridViewFiltered { get; set; }
    bool isLoading = true;
    public bool ReloadList { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Prestamos - OnInitializedAsync");

        prestamosModel = new M_PeticionPrestamo();
        prestamosModelList = new List<Libro>();
        //authorList = await authorService.GetAuthors();

        await base.OnInitializedAsync();
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Authors - OnAfterRenderAsync - firstRender = " + firstRender);

        if (firstRender)
        {
            await LoadPrestamos();

            isLoading = false;
            this.StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    private async Task LoadPrestamos()
    {
        await Task.Delay(700);

        var lista = await _ServicioLibros.GetAllAsync("Libros");
        prestamosModelList = prestamosModelListFiltered = lista.Where(a=>a.Estado==2).ToList();

        this.StateHasChanged();
    }

    private async Task GuardarPrestamo()
    {
        prestamosModel.IdUsuario = 1;
        prestamosModel.Operacion = 2;
        await _Services.SaveAsync("Prestamos/Prestamo", prestamosModel);

        await LoadPrestamos();

        Result = true;
        IsVisible = true;

        prestamosModel = new M_PeticionPrestamo();
        this.StateHasChanged();

    }

    //private async Task LiberarPrestamo(int id)
    //{
    //    await _Services.UpdateAsync("Libros/", id);
    //    await LoadPrestamos();

    //    //throw new Exception("DeleteAuthor");
    //}


}
